@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Hammersmith One', sans-serif;
}
body {
  background: url(./image/bg-3.jpg);
  background-size: cover;
}
.sticky {
}
nav > ul {
  display: flex;
  list-style: none;
  justify-content: end;
  padding-right: 2em;
  gap: 5em;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.logo {
  padding-right: 25em;
}
.navbar {
  padding-block: 1.2px;
  border-radius: 5px;
  background-color: rgba(206, 195, 195, 0.267);
  box-shadow: rgb(28 32 93 / 30%) 1px 4px 2px 0px;
}
