@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato:ital,wght@0,400;1,700&display=swap');
body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Hammersmith One', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/*Navbar Setting*/
.welcome {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-42%, -50%);
  text-align: center;
  color: aliceblue;
}
.welcome {
  text-align: center;
  color: aliceblue;
  background: linear-gradient(40deg, #6f9a20b5, #484241d0, #ffffff, #e889ad, #7f78e1, #232dbf);
  background-size: 300%;
  font-size: 45px;
  letter-spacing: -4px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 4s ease-in-out infinite;
  -moz-animation: animated_text 6s ease-in-out infinite;
  -webkit-animation: animated_text 6s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
#vanta {
  width: 100%;
  height: 100vh;
  background: url(./image/bg-3.jpg);
  background-size: cover;
}
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  z-index: 1000;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 3em;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.logo {
  padding-right: 30em;
}
.active {
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(206, 195, 195, 0.667);
  backdrop-filter: blur(6px) saturate(90%) contrast(130%);
  -webkit-backdrop-filter: blur(6px) saturate(90%) contrast(130%);
  box-shadow: rgba(46, 50, 96, 0.4) 3px 5px 6px 2px;
}
/*Navbar Setting End*/

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  font-size: 0.8em;
  height: 100vh;
  background-color: #dcdcdc55;
  backdrop-filter: blur(5px) saturate(80%) contrast(150%);
  -webkit-backdrop-filter: blur(5px) saturate(80%) contrast(150%);
  z-index: 9999;
  transition: right 0.5s ease;
}

.active-side-menu {
  right: -0%;
}

.exit-button-container {
  padding: 1em;
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

.exit-button:hover {
  cursor: pointer;
}

.side-menu-list > li {
  list-style-type: none;
  margin-bottom: 20px;
}

.side-menu-list > li > a {
  color: #000;
  font-size: 1.3em;
  text-decoration: none;
}
.side-menu-list > li:hover {
  transition: right 2s ease-in;
  border-bottom: solid 1.5px black;
}
.logo-list {
  position: absolute;
  top: 98%;
  left: 90%;
  transform: translate(-90%, -98%);
  list-style: none;
}
/* Side Menu */

/*Dropdown Setting*/
li a,
.dropbox {
  display: inline-block;
}
li a:hover {
  transition: all 0.5s ease;
  color: rgb(246, 48, 48);
}
li .dropbox {
  display: inline-block;
}
.dropdown {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(206, 195, 195, 0.867);
  backdrop-filter: blur(10px) saturate(180%) contrast(160%);
  min-width: 90px;
  z-index: 1;
}
.dropdown a {
  padding-block: 0.4em;
  text-decoration: none;
  display: block;
  text-align: start;
  border-bottom: 0.2px solid rgb(0, 0, 0, 0.367);
}
.dropdown:hover {
  border-bottom: 0.2px solid rgb(0, 0, 0, 0.367);
  border-radius: 5px;
  background-color: rgba(206, 195, 195, 0.767);
  backdrop-filter: blur(6px) saturate(180%) contrast(160%);
}
.dropbox:hover .dropdown {
  display: block;
}
/*Dropdown Setting End*/

/* Slideshow Container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.mySlides > img {
  width: 100%;
  height: 100vh;
  background-image: cover;
}
.text {
  color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Slideshow Container End */

/* Card Setting */
.card-container {
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
}
h1 {
  position: absolute;
  padding-left: 2.5em;
  font-size: 1em;
}
.maskot {
  position: relative;
}
p {
  text-align: center;
  font-size: 1em;
}
.img {
  display: block;
  width: 75%;
  height: auto;
}
.bg-1 {
  background-color: #ffffff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 20px), repeating-linear-gradient(#31507455, #92b1d5);
}
.card-item {
  height: 19em;
  max-width: 19em;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: white;
  position: relative;
  box-shadow: -5px 7px 5px #12121248;
}
.card-item:hover {
  cursor: pointer;
  box-shadow: -5px 7px 5px #4b4b4b;
}
.card-img {
  position: absolute;
  height: 100%;
  left: -50%;
  transition: 0.3s;
}
.card-item:hover .card-img {
  height: 120%;
  left: -70%;
  cursor: pointer;
}
.bottom-shadow:after {
  content: '';
  position: absolute;
  top: 110px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
}
.top-shadow:after {
  content: '';
  position: absolute;
  top: -180px;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0), black);
}
.card-text-bottom {
  position: absolute;
  z-index: 99;
  bottom: 10px;
  left: 10px;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.maskot:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.maskot:hover p {
  visibility: hidden;
}
.container {
  text-align: center;
}
/* Card Setting End*/

/* Navbar Phone */
.navbar-phone {
  display: none;
  gap: 10rem;
}
.navbar-phone .logo {
  text-align: center;
  width: 100%;
}
.burger-menu-button {
  padding: 0.1em;
  border-color: rgba(255, 255, 255, 0.44);
  border-width: 0.17em;
  border-radius: 0.3em;
}
.burger-menu-button:hover {
  cursor: pointer;
}
/* Navbar Phone End*/

/*Scrollbar*/
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #0000;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #5a586f;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: linear-gradient(45deg, #3371ced0, #ffffff);
}
/*Scrollbar End*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* For Tablet: */
@media only screen and (max-width: 900px) {
  .logo {
    padding-right: 5em;
  }
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .card-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  nav > ul > li {
    display: none;
  }
  nav > ul > .dropbox {
    display: none;
  }
  nav > ul {
    padding-right: 5em;
    justify-content: left;
  }
  .navbar-phone {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navbar-phone li {
    display: block;
  }
  .logo {
    padding-right: 0;
  }
  h1 {
    font-size: 1em;
  }
  .maskot {
    width: 100%;
  }
}

/*==========CONTENT==========*/
.card-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-content {
  width: 90%;
  padding: 2em 2em;
}
.glass {
  background: rgba(255, 255, 255, 0.593);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg1 {
  position: relative;
  padding-top: 3em;
  margin: 0;
  padding: 0;
}
#content-background {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
/*==========CONTENT END==========*/
